<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="effect.js" />
                <add value="main.js" />
                <add value="index.css" />
                <add value="header.jpg" />
                <add value="population.csv" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
